<h1>Delivery <%=@delivery.id%></h1>

<% if session[:message] %>
  <%= session[:message] %><br><br>
  <% session.delete(:message) %>
<% end %>

<p>Delivery for: <a href="/members/<%=@delivery.member.username%>"><%=@delivery.member.name%></a></p>
<p>Requested items: <%=@delivery.items%></p>
<p>Date to be delivered: <%=@delivery.date%></p>

<% if @delivery.volunteer %>
  <p>Volunteer: <a href="/volunteer/<%=@delivery.volunteer.username%>"><%= @delivery.volunteer.name %></a></p>
<% end %>

<% if is_volunteer?(session) && (session[:user_id] == @delivery.volunteer_id || @delivery.status == "new")%>
  <p><a href="/deliveries/<%=@delivery.id%>/volunteer">Edit the status of this delivery</a></p>
<% end %>

<% if is_member?(session) && session[:user_id] == @delivery.member_id%>
  <p><a href="/deliveries/<%=@delivery.id%>/edit">Edit your requested delivery</a></p>

  <form action="/deliveries/<%=@delivery.id%>" method="post" >
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete this request">
  </form>
<% end %>
