<h1>Delivery <%=@delivery.id%></h1>

<p>Delivery for: <a href="/members/<%=@delivery.member.username%>"><%=@delivery.member.name%></a></p>
<p>Requested items: <%=@delivery.items%></p>
<p>Date to be delivered: <%=@delivery.date%></p>

<h4>Current status: <%=@delivery.status%> </h4>
<p>Please choose one of the following actions:</p>
<form action="/deliveries/<%=@delivery.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <% if @delivery.status == "confirmed" %>
    <input type="radio" name="status" value="new"> I can no longer complete this delivery - please mark as "new"<br>
    <input type="radio" name="status" value="completed"> I have completed this delivery - please mark as "completed"<br>
  <% elsif @delivery.status == "completed" %>
    <input type="radio" name="status" value="new"> I can no longer complete this delivery - please mark as "new"<br>
    <input type="radio" name="status" value="confirmed"> I am still completing this delivery, but it is not delivered yet - please mark as "confirmed"<br>
  <% else %>
    <input type="radio" name="status" value="confirmed"> Sign me up for this delivery!
  <% end %>
  <br><br>
  <input type="submit" value="Submit">
 </form>
