<h1><%=@member.name%></h1>
<h4>Username: <%=@member.username%></h4>

<h2>Contact Info</h2>
<ul>
  <li>Address: <%=@member.address%></li>
  <li>Email: <%=@member.email%></li>
  <li>Phone number: <%=@member.phone_number%></li>
  <li>Allergies: <%=@member.allergies%></li>
</ul>
